services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - BACKEND_URL=http://backend:3000/
  frontend:
    build:
      context: ./frontend
    ports:
      - 8080:80
    environment:
      - BACKEND_URL=http://backend:3000/
    depends_on:
      - backend